{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% for todo in todos %}
                <div>{{ todo.description }}</div>
            {% else %}
                <div>You have nothing to do :)</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
