.results{
  background-color: #FFF;
  color: #424E5D;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 30px;
  border: solid 10px #353E4A;
}

.navbar-brand{
  font-size: 2em;
  font-weight: bold;
}

.navbar-default .navbar-brand {
  color: #FFF;
  transition: all 0.5s ease;
  font-family: 'Pacifico', cursive;


  &:hover, &:focus{
    color: #FF6363;
  }
}
