.title{
  margin-top: 0;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f10c"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f05d"; color: #41B883; } /* checked icon */
input[type=checkbox]:checked + label:before {  } /* allow space for check mark */

.github-icon svg{
  height: 2em;
}

.symfony-icon{
  display: inline-block;
}

.symfony-icon svg{
  height: 3em;
  fill: #FFF;

}
.vue-icon{
  height: 3em;
}
.project-icons{
  text-align: center;
  margin-top: 20px;
  color: #FFF;

  .fa-plus{
    vertical-align: 17px;
    margin: 20px;
  }
}