{% extends 'base.html.twig' %}

{% block body %}
    <div class="layout-wrapper">
        <div class="layout-container">
            <div class="todo" id="app">
                <h1 class="title">
                    Symfony - Vue Todo App
                </h1>

                {% verbatim %}
                <div class="todo-form">
                    <input class="todo-form" placeholder="What needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
                </div>
                <ul class="todo-list">
                    <li v-for="todo in todos" class="todo-row" >
                        <input id="todo-done-{{ todo.id }}" type="checkbox" v-model="todo.is_complete" @click="completeTodo(todo)">
                        <label for="todo-done-{{ todo.id }}" class="todo-done"></label>
                        <label class="todo-description">{{ todo.description }}</label>
                        <button id="todo-destroy-{{ todo.id }}" class="todo-destroy" @click="deleteTodo(todo)"><i class="fa fa-times"></i></button>
                    </li>
                </ul>
                <button>Show Complete</button><button>Show Uncompleted</button>
                {% endverbatim %}

            </div>
        </div>
    </div>
{% endblock %}
