{% extends 'base.html.twig' %}

{% block body %}
    <div class="layout-wrapper">
        <div class="layout-container">
            <div class="todo" id="app">
                <h1 class="title">
                    Symfony - Vue Todo App
                </h1>
                <a class="github-icon" target="_blank" href="https://github.com/AchillesKal/SymfonyVueTodo"><svg viewBox="0 0 128 128">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M64 1.512c-23.493 0-42.545 19.047-42.545 42.545 0 18.797 12.19 34.745 29.095 40.37 2.126.394 2.907-.923 2.907-2.047 0-1.014-.04-4.366-.058-7.92-11.837 2.573-14.334-5.02-14.334-5.02-1.935-4.918-4.724-6.226-4.724-6.226-3.86-2.64.29-2.586.29-2.586 4.273.3 6.523 4.385 6.523 4.385 3.794 6.504 9.953 4.623 12.38 3.536.383-2.75 1.485-4.628 2.702-5.69-9.45-1.075-19.384-4.724-19.384-21.026 0-4.645 1.662-8.44 4.384-11.42-.442-1.072-1.898-5.4.412-11.26 0 0 3.572-1.142 11.7 4.363 3.395-.943 7.035-1.416 10.65-1.432 3.616.017 7.258.49 10.658 1.432 8.12-5.504 11.688-4.362 11.688-4.362 2.316 5.86.86 10.187.418 11.26 2.728 2.978 4.378 6.774 4.378 11.42 0 16.34-9.953 19.938-19.427 20.99 1.526 1.32 2.886 3.91 2.886 7.88 0 5.692-.048 10.273-.048 11.674 0 1.13.766 2.458 2.922 2.04 16.896-5.632 29.07-21.574 29.07-40.365C106.545 20.56 87.497 1.512 64 1.512z"></path><path d="M37.57 62.596c-.095.212-.428.275-.73.13-.31-.14-.482-.427-.382-.64.09-.216.424-.277.733-.132.31.14.486.43.38.642zm-.524-.388M39.293 64.52c-.203.187-.6.1-.87-.198-.278-.297-.33-.694-.124-.884.208-.188.593-.1.87.197.28.3.335.693.123.884zm-.406-.437M40.97 66.968c-.26.182-.687.012-.95-.367-.262-.377-.262-.83.005-1.013.264-.182.684-.018.95.357.262.385.262.84-.005 1.024zm0 0M43.268 69.336c-.233.257-.73.188-1.093-.163-.372-.343-.475-.83-.242-1.087.237-.257.736-.185 1.102.163.37.342.482.83.233 1.086zm0 0M46.44 70.71c-.104.334-.582.485-1.064.344-.482-.146-.796-.536-.7-.872.1-.336.582-.493 1.067-.342.48.144.795.53.696.87zm0 0M49.92 70.965c.013.35-.396.642-.902.648-.508.012-.92-.272-.926-.618 0-.354.4-.642.908-.65.506-.01.92.272.92.62zm0 0M53.16 70.414c.06.342-.29.694-.793.787-.494.092-.95-.12-1.014-.46-.06-.35.297-.7.79-.792.503-.088.953.118 1.017.466zm0 0"></path><path d="M24.855 108.302h-10.7a.5.5 0 0 0-.5.5v5.232a.5.5 0 0 0 .5.5h4.173v6.5s-.937.32-3.53.32c-3.056 0-7.327-1.116-7.327-10.508 0-9.393 4.448-10.63 8.624-10.63 3.614 0 5.17.636 6.162.943.31.094.6-.216.6-.492l1.193-5.055a.468.468 0 0 0-.192-.39c-.403-.288-2.857-1.66-9.058-1.66-7.144 0-14.472 3.038-14.472 17.65 0 14.61 8.39 16.787 15.46 16.787 5.854 0 9.405-2.502 9.405-2.502.146-.08.162-.285.162-.38v-16.316a.5.5 0 0 0-.5-.5zM79.506 94.81H73.48a.5.5 0 0 0-.498.503l.002 11.644h-9.392V95.313a.5.5 0 0 0-.497-.503H57.07a.5.5 0 0 0-.498.503v31.53c0 .277.224.503.498.503h6.025a.5.5 0 0 0 .497-.504v-13.486h9.392l-.016 13.486c0 .278.224.504.5.504h6.038a.5.5 0 0 0 .497-.504v-31.53c0-.278-.22-.502-.497-.502zM32.34 95.527c-2.144 0-3.884 1.753-3.884 3.923 0 2.167 1.74 3.925 3.884 3.925 2.146 0 3.885-1.758 3.885-3.925 0-2.17-1.74-3.923-3.885-3.923zM35.296 105.135H29.29c-.276 0-.522.284-.522.56v20.852c0 .613.382.795.876.795h5.41c.595 0 .74-.292.74-.805v-6.346-14.553a.5.5 0 0 0-.498-.502zM102.902 105.182h-5.98a.5.5 0 0 0-.496.504v15.46s-1.52 1.11-3.675 1.11-2.727-.977-2.727-3.088v-13.482a.5.5 0 0 0-.497-.504h-6.068a.502.502 0 0 0-.498.504v14.502c0 6.27 3.495 7.804 8.302 7.804 3.944 0 7.124-2.18 7.124-2.18s.15 1.15.22 1.285c.07.136.247.273.44.273l3.86-.017a.502.502 0 0 0 .5-.504l-.003-21.166a.504.504 0 0 0-.5-.502zM119.244 104.474c-3.396 0-5.706 1.515-5.706 1.515V95.312a.5.5 0 0 0-.497-.503H107a.5.5 0 0 0-.5.503v31.53a.5.5 0 0 0 .5.503h4.192c.19 0 .332-.097.437-.268.103-.17.254-1.454.254-1.454s2.47 2.34 7.148 2.34c5.49 0 8.64-2.784 8.64-12.502s-5.03-10.988-8.428-10.988zm-2.36 17.764c-2.073-.063-3.48-1.004-3.48-1.004v-9.985s1.388-.85 3.09-1.004c2.153-.193 4.228.458 4.228 5.594 0 5.417-.935 6.486-3.837 6.398zM53.195 122.12c-.263 0-.937.107-1.63.107-2.22 0-2.973-1.032-2.973-2.368v-8.866h4.52a.5.5 0 0 0 .5-.504v-4.856a.5.5 0 0 0-.5-.502h-4.52l-.007-5.97c0-.227-.116-.34-.378-.34h-6.16c-.238 0-.367.106-.367.335v6.17s-3.087.745-3.295.805a.5.5 0 0 0-.36.48v3.877a.5.5 0 0 0 .497.503h3.158v9.328c0 6.93 4.86 7.61 8.14 7.61 1.497 0 3.29-.48 3.586-.59.18-.067.283-.252.283-.453l.004-4.265a.51.51 0 0 0-.5-.502z"></path>
                    </svg></a>

                {% verbatim %}
                <div class="todo-form">
                    <input class="todo-form" placeholder="What needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
                </div>
                <ul class="todo-list">
                    <li v-for="todo in todos" class="todo-row" >
                        <input id="todo-done-{{ todo.id }}" type="checkbox" v-model="todo.is_complete" @click="completeTodo(todo)">
                        <label for="todo-done-{{ todo.id }}" class="todo-done"></label>
                        <label class="todo-description">{{ todo.description }}</label>
                        <button id="todo-destroy-{{ todo.id }}" class="todo-destroy" @click="deleteTodo(todo)"><i class="fa fa-times"></i></button>
                    </li>
                </ul>
                <button>Show Complete</button><button>Show Uncompleted</button>
                {% endverbatim %}

            </div>
        </div>
    </div>
    <div class="small-svg">
        <svg viewBox="0 0 128 128">
            <path d="M81.1 102.1c-5 0-8.4 3.6-8.4 8.6 0 4.7 3.4 8.6 8.4 8.6 4.9 0 8.3-3.9 8.3-8.6 0-5-3.3-8.6-8.3-8.6zm0 14.7c-3.6 0-5.1-3.2-5.1-6.1 0-3.1 1.9-6.1 5.1-6.1 3.2 0 5.1 3 5.1 6.1 0 2.9-1.6 6.1-5.1 6.1zM65 101.2v.8h-4v1.7c0 .7.7 1.2 1.4 1.2h2.6v14h1.6c.7 0 1.4-.7 1.4-1.3v-12.6h3c.7 0 1-.7 1-1.4v-1.6h-4v-1.1c0-2.2.3-3.9 2.9-3.9h.1c.7.1 1.3-.5 1.4-1.3l.1-1c-.6-.1-1.2-.2-2-.2-4.5.1-5.5 2.7-5.5 6.7zM32.1 102.2v.1c-.6 0-1.3.5-1.5 1.1l-4.2 12.6h-.1l-4.1-12.5c-.3-.6-.9-1.3-1.5-1.3v-.2h-2.1l5.6 15.5c.2.5.6 1.5.6 1.9 0 .3-.9 4.1-3.6 4.1h-.2c-.7 0-1.2.5-1.3 1.2l-.1 1.1c.5.1 1.1.2 2.1.2 4 0 5.2-3.9 6.3-7l6-17h-1.9v.2zM12.9 105.8c-2.5-1.3-5.2-2.1-5.3-4.7 0-2.7 2.5-3.4 4.4-3.4.8 0 1.5.1 2.2.2.7.1 1.3-.5 1.4-1.2l.1-1c-1.3-.3-2.6-.5-3.7-.5-4.2 0-7.3 2.1-7.3 6.2 0 3.5 2.4 4.9 4.9 6.1 2.5 1.2 5.3 2.2 5.3 5.1 0 3-2.9 4.2-5 4.2-1.2 0-2.5-.3-3.5-.6-.7-.1-1.2.5-1.3 1.3l-.1.8c1.5.5 3 .8 4.5.8 4.7 0 8.4-1.8 8.4-6.7-.1-3.8-2.5-5.3-5-6.6zM54.3 102.1c-1.5 0-4 .8-5.1 3.2-.9-2.2-2.8-3.1-4.7-3.1-2.4 0-4.1.8-5.2 2.8h-.3v-1.2c0-.7-.5-1.6-1.3-1.6l.1-.2h-1.8v17h2c.8 0 1.2-.7 1.2-1.4l-.2-.1v-6.8c0-3.1 1.6-6.1 4.7-6.1 2.4 0 3.3 2.5 3.3 4.6v9.9h1.3c.7 0 1.7-.7 1.7-1.4v-7c0-3.1 1.1-6.1 4.2-6.1 2.4 0 2.8 2.5 2.8 4.6v9.9h1.6c.7 0 1.4-.6 1.4-1.2v-9.4c0-3.7-1.5-6.4-5.7-6.4zM100.7 102c-2.3 0-4.6 1-5.5 3h-.2v-1.2c0-.8-.6-1.6-1.4-1.6v-.2h-1.6v17h1.8c.7 0 1.2-.7 1.2-1.4v-6.3c0-4 1.8-6.8 5.3-6.8 2.6.2 3.7 2 3.7 5.8v8.6h1.3c.7 0 1.7-.7 1.7-1.4v-8.4c0-4.4-2.1-7.1-6.3-7.1zM121.6 102v.30000000000000004c-.6 0-1.3.5-1.5 1.1l-4.2 12.6h-.1l-4.1-12.5c-.3-.6-.9-1.3-1.5-1.3v-.2h-2.1l5.6 15.5c.2.5.6 1.5.6 1.9 0 .3-.9 4.1-3.6 4.1h-.2c-.7 0-1.2.5-1.3 1.2l-.1 1.1c.5.1 1.1.2 2.1.2 4 0 5.2-3.9 6.3-7l6-17h-1.9zM64 90.2c24.6 0 44.6-20 44.6-44.6s-20-44.6-44.6-44.6-44.6 20-44.6 44.6 20 44.6 44.6 44.6zm-29.6-41.4c.7-2.2 2.4-2.6 4.2-2.1 1.8.6 2.6 2.8 2 4.5-.1.2-.2.5-.3.9l-.8 1.4c-.4 1.4 1.4 2.3 2.7 2.7 2.9.9 5.7-.6 6.4-3 .7-2.2-.7-3.7-1.3-4.2l-2.7-2.9c-1.3-1.4-4-5.3-2.7-9.7.5-1.7 1.6-3.5 3.2-4.7 3.3-2.5 7-2.9 10.4-1.9 4.5 1.3 6.6 4.3 9.4 6.5 1.6-4.6 3.7-9.1 7-12.9 2.9-3.5 6.9-5.9 11.4-6.1 4.5-.1 7.9 1.9 8.1 5.1 0 1.4-.7 4.1-3.5 4.2-2.1.1-3.5-1.2-3.6-3 0-.7.2-1.3.6-2 .5-.9.6-1 .5-1.4 0-1.2-1.8-1.2-2.3-1.2-6.7.2-8.5 9.3-9.9 16.6l-.7 3.9c3.9.6 6.6-.1 8.1-1.1 2.1-1.4-.6-2.8-.3-4.4.4-1.6 1.8-2.4 3-2.4 1.6 0 2.8 1.7 2.8 3.4-.1 2.8-3.8 6.8-11.4 6.6-.9 0-1.8-.1-2.6-.2l-1.1 7.9c-1.3 6-3 14.1-9 21.2-5.2 6.2-10.5 7.2-12.9 7.2-4.4.1-7.4-2.2-7.5-5.4-.1-3.1 2.6-4.7 4.4-4.8 2.4-.1 4 1.6 4.1 3.6.1 1.7-.8 2.2-1.4 2.5-.4.3-1 .6-.9 1.3 0 .3.3 1 1.3.9 1.9-.1 3.1-1 4-1.6 4.3-3.6 6-9.9 8.2-21.3l.5-2.8c.7-3.7 1.6-7.8 2.8-12-3-2.3-4.9-5.1-9-6.2-2.8-.8-4.5-.1-5.7 1.4-1.4 1.8-1 4.1.4 5.5l2.3 2.5c2.8 3.2 4.3 5.7 3.7 9.1-.9 5.4-7.3 9.5-14.9 7.2-6.6-1.7-7.8-6.3-7-8.8z"></path>
        </svg>
    </div>

{% endblock %}


